<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome, it's <%= time %></p>
    <p>
        <img src="/images/nyan.gif" title="nyan cat" />
    </p>
    <pre><%= request_uuid %></pre>
</body>
</html>
